body {
  margin: 0;
  padding: 0;
  background-color: #845ec2;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 50px;
}

.form input {
  width: 250px;
  height: 30px;
  margin-right: 25px;
}

.form button {
  width: 100px;
  height: 36px;
}

.outerDiv {
  margin-top: 35px;
}

.outerDiv ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.outerDiv ul li {
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
  position: relative;
}

.outerDiv ul li span{
    position: absolute;
    right: 5%;
    cursor: pointer;
}
